
.counter-container {
    width: 200px;
    height: 100px;
    border: 1px solid black;
    margin: 0 auto;
}

.current-counter {
    width: 50px;
}

.counter-wrapper {
    display: flex;
    margin-top: 10px;
    justify-content: space-evenly;
}
