
.counter-container {
    width: 200px;
    height: 120px;
    margin: 0 auto;
}

.current-counter {
    width: 50px;
}

.counter-wrapper {
    display: flex;
    margin: 10px;
    justify-content: space-evenly;
}
